<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
      Welcome, <%= current_user.email %>

    <div class="w3-row-padding w3-padding-16">

<!--  requests I've made -->
      <div class="w3-third w3-margin-bottom">
        <h2>Requests I've made</h2>
          <div class="w3-container w3-white">
          <h3><%= @created_bookings %></h3>
          </div>
      </div>

<!-- requests others have made for my spaces -->
      <div class="w3-third w3-margin-bottom">
        <h2>Requests I've received</h2>
          <div class="w3-container w3-white">
          <h3><%= @received_bookings %></h3>
          <form action="/booking" method="post"><input type="submit" value="Confirm" name="status"></form>
          <form action="/booking" method="post"><input type="submit" value="Deny" name="status"></form>
        </div>
      </div>
    </div>
  </body>
</html>
