<html>
  <head>
  </head>
  <body>
    <form action='/spaces' method='POST'>
      <label for='date from'>
        Enter a start date:<br>
        <input type="date" name="date_from"><br><br>
      </label>
      <label for='date to'>
        Enter an end date:<br>
        <input type="date" name="date_to"><br><br>
      </label>
      <input type='submit' value='Show available spaces'>

    </form>


    <ul id="spaces">
      <% @spaces.each do |space| %>

        <li>
            <%= space.name %>
            <a class='<%=space.id%>' href='/spaces/<%=space.id%>'<button>View</button></a>
            <img src="https://slm-assets1.secondlife.com/assets/12129252/view_large/VIntage_Beach_Shack2.jpg?1439408990" alt="Norway" style="width:35%">
        </li>
        <% end %>
    </ul>
  </body>
</html>
