<html>
  <head>

  </head>
  <body>
    <%= @space.name %>, <%= @space.description %>, £<%= @space.price %> per night
    <img src="/w3images/room_single.jpg" alt="Norway" style="width:100%">
  </body>


</html>
