<html>

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
      </style>
      <title>Makersbnb</title>
  </head>

  <body class="w3-light-grey">
    <header>
      <div class='container'>
        <!-- <div id='branding'>

      </div> -->
          <nav>
            <ul class="w3-navbar w3-white w3-large">
            <li><a href="/"class="w3-red"><i class="fa fa-bed w3-margin-right"></i>Makersbnb</a></li>

            <% if current_user %>
            <ul class="w3-navbar w3-white w3-large">
              <li><a href="/spaces">Spaces</a> </li>
              <li><a href="/listspace">List Space</a> </li>
              <li><a href="/myrequests">My Requests</a> </li>
              <li><a href="">Sign Out</a></li>
            </ul>
            <% else %>
            <ul class="w3-navbar w3-white w3-large">
              <li> <a href="/users/new">Sign Up</a>  </li>
              <li><a href="/sessions/new">Log In</a></li>
            </ul>
          <% end %>
          </ul>
        </nav>

    </div>

  </header>
  <%= yield %>
</body>
</html>
