<html>
  <head>
  </head>
  <body>
    <ul id="spaces">
      <% @spaces.each do |space| %>
        <li>
            <%= space.name %>
        </li>
        <form action="/spaces/<%=space.id%>" method="post">
          <button id="<% space.id %>" type="submit" value="space.id">View</button>
        </form>
        <% end %>
    </ul>
  </body>
</html>
